.button {
    display: flex;
    justify-content: space-between;
}
.countup,
.countdown,
.countclear {
    border-radius: 4px 4px;
    font-size: 24px;
    text-align: center;
    line-height: 60px;
    width: 200px;
    height: 60px;
}
.countup {
    color: white;
    background-color: #003399;
}
.countdown {
    color: white;
    background-color: #f27c0f;
}
.countclear {
    font-family: 'Gilroy Semibold';
    background-color: #e5e5e5;
}
